body {
    width: 30rem;
    text-align: center;
}

details {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}

li:nth-child(odd) {
    background: #bababa30;
    border-radius: 2%;
}

li:nth-child(even) {
    background: #ffffff;
    border-radius: 2%;
}
